.about {
   flex: 1 0 auto;
   display: flex;
   flex-direction: column;

   &__top {
      position: relative;
      padding: 200px 0 80px 0;
      background-color: $bg;
      box-shadow: 0px 14px 16px 0px rgba(0, 0, 0, 0.1);
      z-index: 1;
   }

   &__bottom {
      flex: 1 0 auto;
      padding: 80px 0 50px 0;
      background-color: $bg;
   }

   &__body {
      max-width: 635px;

      &_t {
         margin: 60px 0 0 0;
      }

      &_b {
         margin: 0 0 0 auto;
      }
   }

   &__title {
      font-size: 30px;
      color: $text;
      margin: 0 0 30px 0;
   }

   &__text {
      font-size: 15px;
      line-height: 24px;
      color: $text;

      &:not(:last-child) {
         margin: 0 0 20px 0;
      }
   }

   @media (max-width: $md4) {
      &__title {
         text-align: center;
      }
   }
}