.footer {
   padding: 30px 0;
   background-color: $bg;

   &_s {
      box-shadow: 0px -14px 16px 0px rgba(0, 0, 0, 0.1);
   }

   &__body {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__item_c {
      display: flex;
      align-items: center;
      gap: 30px;
   }

   &__contacts {
      display: flex;
      align-items: center;
      gap: 5px;

      span {
         font-size: 18px;
         font-weight: 300;
         color: $text;
      }

      svg {
         fill: $tiffany;
      }
   }

   &__logo {

      svg {
         max-width: 105px;
         height: 60px;
      }
   }

   &__social {
      display: flex;
      gap: 10px;
   }

   &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $tiffany;
      transition: all 0.5s ease 0s;

      svg {
         fill: $bg;
         transition: all 0.5s ease 0s;
      }

      &:hover {
         background-color: $bg;

         svg {
            fill: $tiffany;
         }
      }
   }

   @media (max-width: $md2) {
      &__body {
         flex-direction: column;
         gap: 20px;
      }
   }

   @media (max-width: 590px) {

      &__item_c {
         flex-direction: column;
         gap: 10px;
      }
   }
}