.fullpage {
   min-height: 100vh;
   display: flex;
   background: url('../assets/img/bg-1.jpg') center / cover no-repeat;

   &__body {
      flex: 1 1 auto;
      padding: 150px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
   }

   &__text {
      max-width: 700px;
      margin: 40px 0 0 0;
      font-size: 18px;
      line-height: 24px;
      color: #fff;
   }

   &__image {
      svg {
         max-width: 700px;
         width: 100%;
      }
   }

   @media (max-width: $md4) {
      &__text {
         font-size: 14px;
         line-height: 20px;
      }
   }
}