@import "../variables";

.offer {
   padding: 70px 0;
   background-color: #ed1c29;

   &__body {
      max-width: 530px;
      margin: 0 auto;
      text-align: center;
   }

   &__title {
      font-size: 24px;
      font-weight: 400;
      line-height: 40px;
      text-transform: uppercase;
      color: #fff;
      margin: 0 0 50px 0;
   }

   @media (max-width: $md3) {
      &__title {
         font-size: 22px;
         line-height: 30px;
         margin: 0 0 35px 0;
      }
   }

   @media (max-width: $md4) {
      &__title {
         font-size: 18px;
      }
   }
}