// FONTS
$fontfamily: 'Montserrat';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

// MEDIA
$minwidth: 320px;
$mw: 1300px;
$md1: $mw + 12px;
$md2: 992.98px;
$md3: 767.98px;
$md4: 479.98px;

// COLORS
$tiffany: #01d8dd;
$dark-tiffany: #008aa4;
$purple: #63719c;