// FONTS
$fontfamily: 'Montserrat';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

// MEDIA
$minwidth: 280px;
$mw: 1410px;
$md1: $mw + 12px;
$md2: 992.98px;
$md3: 767.98px;
$md4: 479.98px;