@import './nullstyle';
@import './scss-components/combine';
@import './forms';

// ОБОЛОЧКА
.wrapper {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

.content {
   flex: 1 0 auto;
   display: flex;
   flex-direction: column;
}

.header-block {
   max-width: 815px;
   margin: 0 auto;
   text-align: center;

   &::after {
      content: '';
      display: block;
      width: 120px;
      height: 2px;
      background-color: #fff;
      margin: 0 auto;
   }

   &_b {
      &:after {
         background-color: #555;
      }
   }

   &__title {
      font-size: 48px;
      font-weight: 300;
      color: #fff;
      margin: 0 0 25px 0;

      &_dc {
         font-size: 30px;
      }

      &_b {
         color: #555;
      }
   }

   &__text {
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
      color: #fff;
      margin: 0 0 35px 0;

      &_b {
         color: #555;
      }
   }

   @media (max-width: $md4) {
      &__title {
         font-size: 35px;

         &_dc {
            font-size: 30px;
         }
      }
   }
}

// ОСНОВНАЯ СЕТКА
.container {
   max-width: $mw;
   margin: 0 auto;
   width: 100%;

   @media (max-width: $md1) {
      max-width: 970px;
   }

   @media (max-width: $md2) {
      max-width: 750px;
   }

   @media (max-width: $md3) {
      max-width: none;
      padding: 0 10px;
   }
}